body {
    background-color: #ffccff;
    font-family: 'Duru Sans', serif;
}

h1 {
    background-color: #ccffff;
    border: solid;
    border-radius: 5px;
    font-size: 5em;
    font-family: 'Cinzel', serif;
    text-align: center;
}

#navigation li {
    background-color: #ff99cc;
    border-radius: 5px;
    color: white;
    display: inline-block;
    padding: 10px;
    text-shadow: 1px 1px 0 #444;
}
